.card {
    color: white;
    border: 0;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1;
}
.card--small {
    font-size: calc(24px + 5vmin);
    padding: calc(6px + 5vmin);
}
.card--small .card-icon {
    font-size: calc(18px + 5vmin);
    flex-grow: 1;
}
.card--small .card-text {
    flex-grow: 2;
}
.card--medium {
    font-size: calc(60px + 5vmin);
    padding: calc(24px + 5vmin);
}
.card--medium .card-icon {
    font-size: calc(48px + 5vmin);
}
.card--large {
    flex-direction: column;
    font-size: calc(60px + 5vmin);
    padding: calc(48px + 5vmin);
}
.card--large .card-icon {
    font-size: calc(192px + 5vmin);
    margin-bottom: 4rem;
}
.card--large .card-text {
    text-transform: lowercase;
    font-family: league-gothic-condensed, sans-serif;
}
